<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Foodeiblog Template">
    <meta name="keywords" content="Foodeiblog, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Foodeiblog | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unna:400,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elegant-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            checkLoginStatus();
        });
    </script>
</head>
<!-- 수정한 부분. 디스플레이를 플렉스 -> 화면 전체 높이가 100% 보다 작을때 -> 바디 크기 강제로 늘림. -->
<body class="d-flex flex-column min-vh-100">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-1 col-6 order-md-1 order-1">
                    
                    </div>
                    <div class="col-lg-8 col-md-10 order-md-2 order-3">
                        <nav class="header__menu">
                            <ul>
                                <li class="active"><a href="./index_test.html">Home</a></li>
                                <li id="login-signup"><a href="sign.html">LOGIN / SIGN UP</a></li>
                                <li id="logout" style="display: none;"><a onclick="logout()">LOGOUT</a></li>
                                <li>{% if user_name %}
                                    <p class="header__menu_p" style="margin: 0;">환영합니다 {{ user_name }}님</p>
                                    {% endif %}</li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-2 col-md-1 col-6 order-md-3 order-2">
                        <div class="header__search">
                            <i class="fa fa-search search-switch"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__btn">
                        <a href="./index.html"><img src="{{ url_for('static', filename='img/logo2.png') }}" alt=""></a>
                    </div>
                    <div class="header_register_btn">
                        <a href="{{url_for('foodie_move')}}"><button type="submit" class="site-btn">Add</button></a>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="container">
            <div class="row">
                {% for restarant in restarant_list %}
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="categories__post__item">
                            <div class="categories__post__item__pic small__item set-bg" data-setbg="static/upload/{{restarant.img}}.jpeg">   
                            </div>
                            <div class="categories__post__item__text">
                                <span class="post__label">{{restarant.style}}</span>
                                <h3><a href="#">{{restarant.shopname}}</a></h3>
                                <p>{{restarant.address}}</p>
                                <ul class="post__widget">
                                    <li>by <span>{{restarant.userid}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>                     
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Categories Section End -->


    <!-- Footer Section Begin -->
    <footer class="footer mt-auto ">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__text">
                        
                        </div>
                        
                    </div>
                    <div class="footer__copyright">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form" action="{{ url_for('search')}}" method="get" >
                <input type="text" id="search-input" placeholder="Search" name="query">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- js -->
    <script>
        // 로그아웃 시 버튼 변경
        function logout() {
            fetch('/api/logout', {
                method: 'POST',
                credentials: 'include',
            })
                .then(res => res.json())
                .then(data => {
                    if (data.message == 'success') {
                        sessionStorage.removeItem('user_id')

                        document.getElementById('login-signup').style.display = 'inline-block'
                        document.getElementById('logout').style.display = 'none'
                        window.location.href = '/';
                    } else {
                        console.log("실패패패패ㅐ패패")
                    }
                })
                .catch(error => {
                    console.log('Error:', error)
                })

        }

    </script>
    <!-- Js Plugins -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
</body>

</html>