<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% for element in restaurant_list %}
    {{element.userid}}
    {% endfor %}

    <form action="{{ url_for('foodie_create')}}" method="post">
        <input type="hidden" name="userid" value="test">
        <input type="hidden" name="username" value="Hoon">
        <p>상호명 : <input type="text" name="shopname"></p>
        <p>주소 : <input type="text" name="address"></p>
        <p>종류 :
            <label><input type="radio" name="style" value="한식">한식</label>
            <label><input type="radio" name="style" value="양식">양식</label>
            <label><input type="radio" name="style" value="일식">일식</label>
            <label><input type="radio" name="style" value="동남아">동남아</label>
            <label><input type="radio" name="style" value="기타">기타</label>
        </p>
        <p>리뷰 : <textarea name="review" cols="30" rows="10"></textarea></p>
        <p>사진 URL : <input type="text" name="img"></p>

        <button type="submit">저장하기</button>
    </form>

    <form action="{{ url_for('foodie_delete')}}" method="POST">
        <button type="submit">삭제하기</button>
    </form>

    {%with messages = get_flashed_messages()%}
    {%if messages %}
    <script type="text/javascript">
        alert("{{messages[-1]}}");
    </script>
    {%endif%}
    {%endwith%}

</body>

</html>